<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/icon.png"> 
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This side was created Himangi. It uses data from darksky.net and mapbox.com to fetch the weather of an entered location.</p>
            <img class="portrait" src="/img/me.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>